<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">

      <img src="{{ site.baseurl }}/assets/img/headshot.jpg"
           alt="Photo of Daphne Blakey"
           class="sidebar-headshot" />

      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">home</a>
      <a class="sidebar-nav-item {% if page.url == node.url %} active{% endif %}" href="{{ '/cv' | prepend: site.baseurl }}">cv</a>
      <a class="sidebar-nav-item {% if page.url == node.url %} active{% endif %}" href="{{ '/contact' | prepend: site.baseurl }}">contact</a>
      …
    </nav>

  </div>
</div>

