<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">


      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == "/" %} active{% endif %}"
         href="{{ site.baseurl }}/">about</a>
    
      <a class="sidebar-nav-item{% if page.url == "/cv/" %} active{% endif %}"
         href="{{ site.baseurl }}/cv/">cv</a>
    
      <a class="sidebar-nav-item{% if page.url == "/contact/" %} active{% endif %}"
         href="{{ site.baseurl }}/contact/">contact</a>
    </nav>

  </div>
</div>

